/*07CB79*/

body, html, h1 {
    margin-top: 0;
}

body, html {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

/*Navbar */
#navbar {
    background: #03A9F4;
    position: relative;
    z-index: 999;
}

.logo p {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    letter-spacing: 5px;
    line-height: 25px;
    font-weight: 300;
}

.navbar {
    margin-bottom: 0;
}

.navbar-nav {
    float: right;
    position: relative;
}

.navbar-collapse li {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}

.navbar-collapse a {
    color: white;
}

/*end section */

/*front css */

#front {
    /*background: url(../img/john-wall.jpg) no-repeat scroll 0 0 / cover;*/
    position: relative;
    height: 100%;
    background-position: center center;
}

.front-area-table {
    display: table;
    width: 100%;
    height: 100%;
}

.front-area-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.front-text {
    position: relative;
    text-align: center;
}

.front-text h1 {
    position: relative;
}

.front-text span {
    transform: translateX(-05%);
    text-align: center;
    position: relative;
    display: inline-block;
    align-items: center;
}

/* borrowed from Geoff Graham https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter h3 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}



.icon-background {
    color: #c0ffff;
}

/*end section */

/*About */
#about {
    width: 100%
}

#about .title .row {
    text-align: center;
    background-color: #03A9F4;
    color: white;
}


#about p {
    color: black;
}


#selfie img {
    height: 250px;
    width: 250px;
    display: inline;
}

#selfie .text {
    position: relative;
    bottom: 35px;
    left: 70px;
    visibility: hidden;
    color: white
}

#selfie:hover .text {
    visibility: visible;
}

.about-text p {
    text-align: justify;
    font-size: 16px;
}

.more-about-me {
    text-align: center;
    font-size: 16px;
}
.more-about-me.row {
    text-align: center;
    color: white;
    background-color: transparent;
}



.icon-background2 {
    color: #03A9F4;
}

.icon-background3 {
    color: black;
}

/*end*/

/*Skills Section */

#skills .title .row {
    text-align: center;
    background-color: #03A9F4;
    color: white;
}

#skills ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    text-align: center;
}

#skills li {
    font-size: 16px;
}

#skills span {
    text-align: center;
    text-decoration: underline;
}

#skills .card {
    height: 220.5px;
}

.social {
    position: relative;
}

.social-link {
   align-content: center;
    margin-left: 10px;
    margin-right: 10px;

}

.centerBlock {
    display: table;
    margin: auto;
}
.skills {
    background-color: #EFE9F4;
}

.skills i {
    font-size: 95px;
}

.social-link2 {
    align-content: center;
}

.social-link2 i {
    margin-left: 50px;
    margin-right: 50px;

}

/* Experience Section*/
#experience .title .row {
    text-align: center;
    background-color: #03A9F4;
    color: white;
}

.card.horizontal {
    min-height: 243.5px;
    max-height: 243.5px;
}


/* end */

/* Project Section */
#projects .title .row {
    text-align: center;
    background-color: #03A9F4;
    color: white;
}

#projects img {
  min-height: 326.25px;
}

















/*07CB79*/

body, html, h1 {
    margin-top: 0;
}

body, html {
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

/*Navbar */
#navbar {
    background: #03A9F4;
    position: relative;
    z-index: 999;
}

.logo p {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: black;
    letter-spacing: 5px;
    line-height: 25px;
    font-weight: 300;
}

.navbar {
    margin-bottom: 0;
}

.navbar-nav {
    float: right;
    position: relative;
}

.navbar-collapse li {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
}

.navbar-collapse a {
    color: white;
}

/*end section */

/*front css */

#front {
    /*background: url(../img/john-wall.jpg) no-repeat scroll 0 0 / cover;*/
    position: relative;
    height: 100%;
    background-position: center center;
}

.front-area-table {
    display: table;
    width: 100%;
    height: 100%;
}

.front-area-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.front-text {
    position: relative;
    text-align: center;
}

.front-text h1 {
    position: relative;
}

.front-text span {
    transform: translateX(-05%);
    text-align: center;
    position: relative;
    display: inline-block;
    align-items: center;
}

/* borrowed from Geoff Graham https://css-tricks.com/snippets/css/typewriter-effect/ */
.typewriter h3 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: typing 4.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange;
    }
}



.icon-background {
    color: #c0ffff;
}

/*end section */

/*About */
#about {
    width: 100%
}

#about .title .row {
    text-align: center;
    background-color: #03A9F4;
    color: white;
}


#about p {
    color: black;
}


#selfie img {
    height: 250px;
    width: 250px;
    display: inline;
}

#selfie .text {
    position: relative;
    bottom: 35px;
    left: 70px;
    visibility: hidden;
    color: white
}

#selfie:hover .text {
    visibility: visible;
}

.about-text p {
    text-align: justify;
    font-size: 16px;
}

.more-about-me {
    text-align: center;
    font-size: 16px;
}
.more-about-me.row {
    text-align: center;
    color: white;
    background-color: transparent;
}



.icon-background2 {
    color: #03A9F4;
}

.icon-background3 {
    color: black;
}

/*end*/

/*Skills Section */

#skills .title .row {
    text-align: center;
    background-color: #03A9F4;
    color: white;
}

#skills ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    text-align: center;
}

#skills li {
    font-size: 16px;
}

#skills span {
    text-align: center;
    text-decoration: underline;
}

#skills .card {
    height: 220.5px;
}

.social {
    position: relative;
}

.social-link {
   align-content: center;
    margin-left: 10px;
    margin-right: 10px;

}

.centerBlock {
    display: table;
    margin: auto;
}
.skills {
    background-color: #EFE9F4;
}

.skills i {
    font-size: 95px;
}

.social-link2 {
    align-content: center;
}

.social-link2 i {
    margin-left: 50px;
    margin-right: 50px;

}

/* Experience Section*/
#experience .title .row {
    text-align: center;
    background-color: #03A9F4;
    color: white;
}

.card.horizontal {
    min-height: 243.5px;
    max-height: 243.5px;
}


/* end */

/* Project Section */
#projects .title .row {
    text-align: center;
    background-color: #03A9F4;
    color: white;
}

#projects img {
  min-height: 326.25px;
}

















